@media (max-width: 1024px) {

    .header {
        .header_navbar {
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    .represent {
        .represent_content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 63px;

            .title_img-box {
                width: 50%;
                max-height: 368px;
                display: flex;
                justify-content: center;
                align-items: center;

                .title_image-picture {
                    max-height: 353px;
                    margin-top: 15px;
                }
            }

            .site-title {
                max-width: 100%;
                border-left: 12px solid $pinkColor;
                padding-left: 16px;
                margin-right: 34px;

                .title_heading {
                    font-size: 44px;
                    line-height: 53px;
                }

                .title_text {
                    font-size: 24px;
                    line-height: 29px;
                }
            }
        }
    }

    .main {
        margin-left: 16px;
        margin-right: 16px;

        &_categories {
            max-width: 736px;
        }

        .main_content-items {
            .product_block {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-content: center;
                gap: 16px;
                grid-auto-flow: dense;
            }
        }
    }

    .features {
        &_content {
            flex-direction: column;
            gap: 48px;
            align-items: center;
            margin-left: 204px;
            margin-right: 204px;
        }
    }

    .subscribe_block {
        background-size: cover;

        .subscribe_content {
            flex-direction: column;
            gap: 48px;

            .subscribe_media {
                max-width: 360px;
            }

            .subscribe_button {
                margin-left: 0;
            }
        }
    }

    .footer {
        &_content {
            margin-left: 32px;
            margin-right: 32px;
        }
    }

    .filter_box {
        gap: 0;
        justify-content: space-between;
        margin-top: 24px;
        margin-bottom: 40px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .main_page_content {
        .product_block {
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }
    }

    .main_page_content-goods {
        margin-left: 16px;
        margin-right: 16px;
    }

    .page_navigation_area {
        margin-left: 16px;
        margin-right: 16px;
    }

    .product_description {
        margin: 0;
        z-index: 0;
        border-bottom: 1px solid #EAEAEA;
        margin-bottom: 129px;

        .product_description_box {
            border: none;
        }
    }

    .product_page_content {
        margin-bottom: 130px;
    }

    .card_main_area {
        margin-top: 60px;
        margin-bottom: 128px;
        flex-direction: column;
        align-items: center;
        gap: 64px;

        .function_buttons {
            justify-content: center;
            gap: 48px;
        }
    }

    .function_buttons {
        justify-content: center;
        gap: 48px;
    }

    .info_area {
        align-items: center;
        gap: 15px;
        flex-direction: row;
        justify-content: center;
    }

    .shipping_info {
        margin-top: 0;
        margin-bottom: 0;
    }

    .total_info {
        height: 214px
    }

    .registration_area {
        padding-top: 40px;
        margin-left: 16px;
        gap: 22px;
    }

    .registration_area_text-title {
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .registration_area_text-description {
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .registration_area_text-list-box li {
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .registration_area_text-list-box-list_item-img {
        width: 20px;
        height: 16px;
    }

}


@media (max-width: 767px) {

    .login_link,
    .user_cart {
        display: none;
    }

    .burger_menu {
        order: 3;
    }

    .drop_menu {
        right: 1px;
    }

    .represent {
        &_content {
            flex-direction: column;
            padding-top: 148px;
            padding-bottom: 149px;
            margin-bottom: 64px;

            .title_img-box {
                display: none !important;
            }

            .title_heading {
                font-size: 38px;
                font-weight: 900;
                line-height: 45.6px;

                .title_text {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                }
            }
        }
    }

    .product_block {
        grid-template-columns: repeat(1, 1fr);
    }

    .main {
        margin-left: 16px;
        margin-right: 16px;

        .main_categories {

            flex-direction: column;
            gap: 32px;
            margin-bottom: 64px;

            .top-categories {
                flex-direction: column;
                gap: 32px;
                margin-bottom: 0;

                .category_item_container {
                    max-width: 100%;
                }
            }

            .category_item_container-long {

                .acc_small {
                    display: flex;
                    max-width: 100%;
                    opacity: 30%;
                }
            }
        }

        .main_content-items {
            .product_block {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .acc_big {
            display: none;
        }

        .features {
            .features_content {
                flex-direction: column;
                gap: 46px;
                align-items: center;
                margin-left: 13px;
                margin-right: 13px;

                .feature_content_item {
                    max-width: 347px;
                }

            }
        }



        .footer {
            .footer_content {
                flex-direction: column;

                .footer_icons {
                    order: -1;
                    margin-top: 43px;
                    margin-bottom: 40px;
                }
            }
        }
    }

    .main_page_content {
        .product_block {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .main_page_content-goods {
        margin-left: 8px;
        margin-right: 8px;
    }

    .subscribe_block {
        .subscribe_content {
            .subscribe_media {
                max-width: 340px;

                .subscribe_media_text {
                    color: #222224;
                    text-align: center;
                    font-family: Lato;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .subscribe_button {
                margin-left: 0;
                max-width: 90%;

                &_text {
                    &_title {
                        color: #222224;
                        text-align: center;
                        font-family: Lato;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 153.2%;
                    }

                    &_content {
                        color: #222224;
                        font-family: Lato;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 153.2%;
                    }
                }

                .subscribe_form {
                    &_input {
                        width: 190px;
                    }

                    &_button {
                        width: 90px;
                    }
                }
            }
        }
    }

    .page_navigation_area {
        margin-top: 24px;
        margin-bottom: 46px;
        flex-direction: column;
        gap: 32px;
    }

    .filter_box_main_filter_text {
        display: none;
    }

    .filter-svg-img {
        transform: scale(2.5);
    }

    .filter_box {
        .choose_item_checkbox_name {
            font-size: 12px;
        }

        .filter_box_choose-items {
            .choose-items-block {
                gap: 20px;

                .choose_item-trending {
                    gap: 9px;
                }

                .choose_size {
                    gap: 9px;
                }

                .choose_item-price {
                    gap: 9px;
                }
            }
        }
    }

    .product_description_box_line {
        width: 175px;
    }

    .card_main_area {
        gap: 48px;

        .cards_area {
            .cards_box {
                margin-bottom: 30px;

                .product_card {
                    width: 360px;
                    height: 188px;
                    gap: 17px;
                    box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.13);

                    .delete-card-button {
                        top: 17px;
                        right: 12px;

                        .delete-card-button-img {
                            width: 10px;
                            height: 11px;
                        }
                    }

                    .card_img_area {
                        width: 144px;
                        height: 188px;
                    }

                    .card_info {
                        margin-top: 13px;
                        width: 143px;

                        .card_title {
                            color: #222;
                            font-family: Lato;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            margin-bottom: 25px;
                        }

                        .card_info_block {
                            gap: 4px;

                            .card_info_price {
                                .price-heading {
                                    color: #575757;
                                    font-family: Lato;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                }

                                .price_quantity {
                                    input {
                                        width: 24px;
                                        height: 15px;
                                    }
                                }

                                .price-heading-value-cost {
                                    color: #EF5B70;
                                    font-family: Lato;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                }

                                .price-heading-value {
                                    color: #6F6E6E;
                                    font-family: Lato;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                }
                            }
                        }
                    }
                }
            }
        }

        .function_buttons {
            gap: 9px;

            .product_card_function_button {
                width: 175px;
                height: 33px;
                padding: 0;

                color: #575757;
                text-align: center;
                font-family: Lato;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .info_area {
            flex-direction: column;
            gap: 48px;

            .total_info {
                width: 100%;
            }
        }
    }

    .registration_area {
        margin-left: 9px;
        margin-right: 9px;
        flex-direction: column;
    }

    .registration_input-box {
        width: 100%;
        max-width: 360px;
    }


}