@import '_variables';

@mixin center {
    max-width: $siteMaxWidth;
    margin: 0 auto;
}

@mixin label-text-style {
    color: #6F6E6E;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}

@mixin checkbox-name-style {
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}