.page_navigation {
  background-color: #F8F3F4;
  display: flex;
  align-items: center;
}
.page_navigation_area {
  max-width: 1140px;
  margin: 0 auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.page_navigation_area-title {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
}
.page_navigation_area-breadcrumbs .breadcrumb_link,
.page_navigation_area-breadcrumbs .breadcrumb_link-slash {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
}
.page_navigation_area-breadcrumbs a:last-child {
  color: #F16D7F;
}

.slider {
  background-color: #F7F7F7;
  height: 777px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider_arrow_box {
  width: 47px;
  height: 47px;
  padding: 8px;
  background-color: rgba(42, 42, 42, 0.1490196078);
}
.slider_arrow_box:hover .slider_arrow {
  fill: #F16D7F;
}
.slider_image_box {
  margin-bottom: 42px;
}
.slider_image_box .slider_image {
  max-width: 100%;
}

.product_description {
  position: relative;
  z-index: 2;
  margin: -65px 0 129px 0;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 1px solid #EAEAEA;
}
.product_description_box {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.product_description_box_title {
  margin-top: 64.54px;
  margin-bottom: 12.1px;
  font-size: 14px;
  font-weight: 300;
  color: #F16D7F;
}
.product_description_box_deliver {
  margin-bottom: 12.1px;
}
.product_description_box_header {
  margin-bottom: 48.41px;
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 300;
}
.product_description_box_text {
  max-width: 555px;
  text-align: center;
  margin-bottom: 32.27px;
  color: #5E5E5E;
  font-size: 14px;
  font-weight: 300;
}
.product_description_box_price {
  margin-bottom: 65px;
  font-size: 24px;
  font-weight: 300;
  color: #F16D7F;
}
.product_description_box_line {
  margin-bottom: 65px;
}
.product_description_box_filter {
  margin-bottom: 48.41px;
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  gap: 42px;
}
.product_description_box_filter .choose_color {
  display: flex;
  gap: 9px;
  align-items: center;
  position: relative;
}
.product_description_box_filter .choose_color_checkbox-name {
  list-style: none;
}
.product_description_box_filter .choose_color_content {
  position: absolute;
  padding-top: 7px;
  padding-bottom: 11px;
  padding-left: 9px;
  margin-top: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 103px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}
.product_description_box_filter .choose_color_content .checkbox_box {
  display: flex;
}
.product_description_box_filter .choose_color_content .checkbox_box .type-checkbox {
  margin-right: 10px;
}
.product_description_box_filter .choose_color_content .checkbox_box .label_text {
  color: #6F6E6E;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.product_description_box_filter .choose_size {
  display: flex;
  gap: 9px;
  align-items: center;
  position: relative;
}
.product_description_box_filter .choose_size_checkbox-name {
  list-style: none;
}
.product_description_box_filter .choose_size_content {
  position: absolute;
  padding-top: 7px;
  padding-bottom: 11px;
  padding-left: 9px;
  margin-top: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 103px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}
.product_description_box_filter .choose_size_content .checkbox_box {
  display: flex;
}
.product_description_box_filter .choose_size_content .checkbox_box .type-checkbox {
  margin-right: 10px;
  border-radius: 0;
}
.product_description_box_filter .choose_size_content .checkbox_box .label_text {
  color: #6F6E6E;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.product_description_box_filter .choose_quantity {
  display: flex;
  gap: 9px;
  align-items: center;
  position: relative;
}
.product_description_box_filter .choose_quantity_checkbox-name {
  list-style: none;
}
.product_description_box_filter .choose_quantity .choose_content {
  position: absolute;
  margin-top: 5px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}
.product_description_box_filter .choose_quantity .choose_content .quantity_input_box #quantity {
  max-width: 50px;
}
.product_description_box_add-to-cart-box {
  margin-bottom: 64.5px;
  width: 212px;
  padding-top: 15px;
  padding-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #F16D7F;
}
.product_description_box_add-to-cart-box .add-to-cart_image {
  fill: #EF5B70;
  margin-left: 24px;
}
.product_description_box_add-to-cart-box .add-to-cart_text {
  color: #F26376;
  font-size: 16px;
  font-weight: 400;
  margin-left: 23px;
}
.product_description_box_add-to-cart-box:hover {
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
}
.product_description_box_add-to-cart-box:hover .add-to-cart_image {
  fill: white;
}
.product_description_box_add-to-cart-box:hover .add-to-cart_text {
  color: white;
}

.filter_box {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 35%;
  margin-top: 51px;
  margin-bottom: 65px;
}
.filter_box_main_filter {
  position: relative;
}
.filter_box_main_filter_name .filter_box_main_filter_text {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 11px;
}
.filter_box .main_filter_box {
  position: absolute;
  z-index: 2;
  background-color: white;
  width: 360px;
  margin-top: 16px;
}
.filter_box .main_filter_box .main_filter_category_name {
  height: 37px;
  border-left: 5px solid #EF5B70;
  margin-bottom: 18px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter_box .main_filter_box .main_filter_category_name .summary_text {
  padding-left: 11px;
  margin-bottom: 11.5px;
}
.filter_box .main_filter_box .main_filter_category_name:hover .summary_text {
  color: #EF5B70;
  cursor: pointer;
}
.filter_box .main_filter_box .category_item_body {
  padding-left: 34px;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter_box .main_filter_box .category_item_body ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter_box .main_filter_box .category_item_body ul li:last-child {
  margin-bottom: 24px;
}
.filter_box_choose-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filter_box_choose-items .choose-items-block {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 28px;
}
.filter_box_choose-items .choose-items-block .choose_item-trending {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
}
.filter_box_choose-items .choose-items-block .choose_item-trending .choose_trending_content {
  position: absolute;
  z-index: 3;
  padding-top: 7px;
  padding-bottom: 11px;
  padding-left: 9px;
  margin-top: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 110px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}
.filter_box_choose-items .choose-items-block .choose_item-trending .choose_trending_content .checkbox_box {
  display: flex;
  gap: 9px;
}
.filter_box_choose-items .choose-items-block .choose_item-trending .choose_trending_content .label_text {
  color: #6F6E6E;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.filter_box_choose-items .choose-items-block .choose_size {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}
.filter_box_choose-items .choose-items-block .choose_size_checkbox-name {
  list-style: none;
}
.filter_box_choose-items .choose-items-block .choose_size_content {
  position: absolute;
  z-index: 3;
  padding-top: 7px;
  padding-bottom: 11px;
  padding-left: 9px;
  margin-top: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 103px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}
.filter_box_choose-items .choose-items-block .choose_size_content .checkbox_box {
  display: flex;
}
.filter_box_choose-items .choose-items-block .choose_size_content .checkbox_box .type-checkbox {
  margin-right: 10px;
  border-radius: 0;
}
.filter_box_choose-items .choose-items-block .choose_size_content .checkbox_box .label_text {
  color: #6F6E6E;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.filter_box_choose-items .choose-items-block .choose_item-price {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.filter_box_choose-items .choose-items-block .choose_item-price .choose_content {
  position: absolute;
  z-index: 3;
  display: flex;
  gap: 25px;
}
.filter_box_choose-items .choose-items-block .choose_item-price .choose_content .choose_content_left_input_area {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 7px;
}
.filter_box_choose-items .choose-items-block .choose_item-price .choose_content .choose_content_left_input_area #left-input-area {
  width: 50px;
  height: 30px;
  gap: 20px;
}
.filter_box_choose-items .choose-items-block .choose_item-price .choose_content .choose_content_right_input_area {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 7px;
}
.filter_box_choose-items .choose-items-block .choose_item-price .choose_content .choose_content_right_input_area #right-input-area {
  width: 50px;
  height: 30px;
  gap: 20px;
}
.filter_box .choose_item_checkbox_name {
  color: #6F6E6E;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.main_page_content-goods {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 49px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 96px;
}
.pagination_content {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #EBEBEB;
  width: -moz-max-content;
  width: max-content;
}
.pagination_content_arrow {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination_content_arrow:hover {
  cursor: pointer;
  fill: #EF5B70;
}
.pagination_content_numbers {
  display: flex;
  gap: 20px;
}
.pagination_content_numbers .pagination_numbers_item {
  color: #C4C4C4;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.pagination_content_numbers .pagination_numbers_item:hover {
  cursor: pointer;
  color: #EF5B70;
}

.card_main_area {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

.cards_box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 72px;
}

.product_card {
  width: 652px;
  max-height: 306px;
  display: flex;
  gap: 31px;
  position: relative;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.card_img_area {
  width: 40%;
}

.card_img {
  width: 100%;
  height: 100%;
}

.card_info {
  display: flex;
  flex-direction: column;
  width: 232px;
  margin-top: 22px;
}

.card_title {
  margin-bottom: 42px;
  color: #222;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price-heading {
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price-heading-value {
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 9px;
}

.price-heading-value-cost {
  color: #EF5B70;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 9px;
}

.card_info_block {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.price-quantity {
  margin-left: 9px;
}

.price-quantity input {
  width: 44px;
  height: 25px;
  border: 1px solid #EAEAEA;
}

.info_area {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.delete-card-button {
  width: 18px;
  height: 18px;
  border: none;
  background: none;
  position: absolute;
  top: 28px;
  right: 22px;
}
.delete-card-button .delete-card-button-img {
  fill: #575757;
}

.function_buttons {
  display: flex;
  justify-content: space-between;
}

.product_card_function_button {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background: none;
  border: 1px solid #A4A4A4;
  padding: 16px 40px;
}

.shipping_info {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  margin-bottom: 57px;
}

.shipping_title {
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
}

.shipping_info-input-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 23px;
}

.shipping_input_item {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding-left: 17px;
}

.shipping_input_item::-moz-placeholder {
  color: #B1B1B1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.shipping_input_item::placeholder {
  color: #B1B1B1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.shipping_get_button {
  width: 100px;
  height: 35px;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background: none;
  border: 1px solid #A4A4A4;
}

.total_info {
  display: flex;
  flex-direction: column;
  background-color: #F5F3F3;
  padding-top: 39px;
}

.total_subtotal {
  margin-right: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.total_grandtotal {
  margin-right: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 26px;
  margin-bottom: 12px;
  margin-bottom: 21px;
}

.grandtotal_text {
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.grandtotal_price {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.total_line_img {
  fill: #E2E2E2;
  margin-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
}

.total_proceed_button {
  width: 273px;
  background-color: #F16D7F;
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 42px;
}

.registration_area {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 128px;
  padding-top: 64px;
  padding-bottom: 96px;
}
.registration_area_forms {
  display: flex;
  flex-direction: column;
}

.registration_input-box {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding-left: 17px;
}

.registration_person_title {
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
}

.registration_form_input_block-person {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 31px;
}

.registration_gender-form {
  margin-bottom: 33px;
}
.registration_gender-form .registration_gender-input {
  margin-right: 10px;
}
.registration_gender-form .registration_gender-input-text {
  margin-right: 20px;
  color: #000;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.registration_login_title {
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
}

.registration_form_input_block-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 15px;
}

.registration_form_conditions {
  color: #B1B1B1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 39px;
}

.registration_button {
  border: none;
}
.registration_button .registration_button_content {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #F16D7F;
  padding: 16px 29px;
}
.registration_button .registration_button_content_text {
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.registration_button .registration_button_content_img {
  fill: #FFF;
}

.registration_area_text-title,
.registration_area_text-description {
  margin-bottom: 22px;
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}

.registration_area_text-list-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.registration_area_text-list-box li {
  display: flex;
  align-items: center;
  gap: 23px;
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media (max-width: 1024px) {
  .header .header_navbar {
    padding-left: 32px;
    padding-right: 32px;
  }
  .represent .represent_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 63px;
  }
  .represent .represent_content .title_img-box {
    width: 50%;
    max-height: 368px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .represent .represent_content .title_img-box .title_image-picture {
    max-height: 353px;
    margin-top: 15px;
  }
  .represent .represent_content .site-title {
    max-width: 100%;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-right: 34px;
  }
  .represent .represent_content .site-title .title_heading {
    font-size: 44px;
    line-height: 53px;
  }
  .represent .represent_content .site-title .title_text {
    font-size: 24px;
    line-height: 29px;
  }
  .main {
    margin-left: 16px;
    margin-right: 16px;
  }
  .main_categories {
    max-width: 736px;
  }
  .main .main_content-items .product_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 16px;
    grid-auto-flow: dense;
  }
  .features_content {
    flex-direction: column;
    gap: 48px;
    align-items: center;
    margin-left: 204px;
    margin-right: 204px;
  }
  .subscribe_block {
    background-size: cover;
  }
  .subscribe_block .subscribe_content {
    flex-direction: column;
    gap: 48px;
  }
  .subscribe_block .subscribe_content .subscribe_media {
    max-width: 360px;
  }
  .subscribe_block .subscribe_content .subscribe_button {
    margin-left: 0;
  }
  .footer_content {
    margin-left: 32px;
    margin-right: 32px;
  }
  .filter_box {
    gap: 0;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .main_page_content .product_block {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .main_page_content-goods {
    margin-left: 16px;
    margin-right: 16px;
  }
  .page_navigation_area {
    margin-left: 16px;
    margin-right: 16px;
  }
  .product_description {
    margin: 0;
    z-index: 0;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 129px;
  }
  .product_description .product_description_box {
    border: none;
  }
  .product_page_content {
    margin-bottom: 130px;
  }
  .card_main_area {
    margin-top: 60px;
    margin-bottom: 128px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }
  .card_main_area .function_buttons {
    justify-content: center;
    gap: 48px;
  }
  .function_buttons {
    justify-content: center;
    gap: 48px;
  }
  .info_area {
    align-items: center;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
  }
  .shipping_info {
    margin-top: 0;
    margin-bottom: 0;
  }
  .total_info {
    height: 214px;
  }
  .registration_area {
    padding-top: 40px;
    margin-left: 16px;
    gap: 22px;
  }
  .registration_area_text-title {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .registration_area_text-description {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .registration_area_text-list-box li {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .registration_area_text-list-box-list_item-img {
    width: 20px;
    height: 16px;
  }
}
@media (max-width: 767px) {
  .login_link,
  .user_cart {
    display: none;
  }
  .burger_menu {
    order: 3;
  }
  .drop_menu {
    right: 1px;
  }
  .represent_content {
    flex-direction: column;
    padding-top: 148px;
    padding-bottom: 149px;
    margin-bottom: 64px;
  }
  .represent_content .title_img-box {
    display: none !important;
  }
  .represent_content .title_heading {
    font-size: 38px;
    font-weight: 900;
    line-height: 45.6px;
  }
  .represent_content .title_heading .title_text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .product_block {
    grid-template-columns: repeat(1, 1fr);
  }
  .main {
    margin-left: 16px;
    margin-right: 16px;
  }
  .main .main_categories {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }
  .main .main_categories .top-categories {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 0;
  }
  .main .main_categories .top-categories .category_item_container {
    max-width: 100%;
  }
  .main .main_categories .category_item_container-long .acc_small {
    display: flex;
    max-width: 100%;
    opacity: 30%;
  }
  .main .main_content-items .product_block {
    grid-template-columns: repeat(1, 1fr);
  }
  .main .acc_big {
    display: none;
  }
  .main .features .features_content {
    flex-direction: column;
    gap: 46px;
    align-items: center;
    margin-left: 13px;
    margin-right: 13px;
  }
  .main .features .features_content .feature_content_item {
    max-width: 347px;
  }
  .main .footer .footer_content {
    flex-direction: column;
  }
  .main .footer .footer_content .footer_icons {
    order: -1;
    margin-top: 43px;
    margin-bottom: 40px;
  }
  .main_page_content .product_block {
    grid-template-columns: repeat(1, 1fr);
  }
  .main_page_content-goods {
    margin-left: 8px;
    margin-right: 8px;
  }
  .subscribe_block .subscribe_content .subscribe_media {
    max-width: 340px;
  }
  .subscribe_block .subscribe_content .subscribe_media .subscribe_media_text {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .subscribe_block .subscribe_content .subscribe_button {
    margin-left: 0;
    max-width: 90%;
  }
  .subscribe_block .subscribe_content .subscribe_button_text_title {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 153.2%;
  }
  .subscribe_block .subscribe_content .subscribe_button_text_content {
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 153.2%;
  }
  .subscribe_block .subscribe_content .subscribe_button .subscribe_form_input {
    width: 190px;
  }
  .subscribe_block .subscribe_content .subscribe_button .subscribe_form_button {
    width: 90px;
  }
  .page_navigation_area {
    margin-top: 24px;
    margin-bottom: 46px;
    flex-direction: column;
    gap: 32px;
  }
  .filter_box_main_filter_text {
    display: none;
  }
  .filter-svg-img {
    transform: scale(2.5);
  }
  .filter_box .main_filter_box {
    width: 300px;
  }
  .filter_box .main_filter_category_border-line {
    width: 200px;
  }
  .filter_box .choose_item_checkbox_name {
    font-size: 12px;
  }
  .filter_box .filter_box_choose-items .choose-items-block {
    gap: 20px;
  }
  .filter_box .filter_box_choose-items .choose-items-block .choose_item-trending {
    gap: 9px;
  }
  .filter_box .filter_box_choose-items .choose-items-block .choose_size {
    gap: 9px;
  }
  .filter_box .filter_box_choose-items .choose-items-block .choose_item-price {
    gap: 9px;
  }
  .filter_box .filter_box_choose-items .choose-items-block .choose_item-price .choose_content {
    right: 0;
  }
  .product_description_box_line {
    width: 175px;
  }
  .card_main_area {
    gap: 48px;
  }
  .card_main_area .cards_area .cards_box {
    margin-bottom: 30px;
  }
  .card_main_area .cards_area .cards_box .product_card {
    width: 360px;
    height: 188px;
    gap: 17px;
    box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.13);
  }
  .card_main_area .cards_area .cards_box .product_card .delete-card-button {
    top: 17px;
    right: 12px;
  }
  .card_main_area .cards_area .cards_box .product_card .delete-card-button .delete-card-button-img {
    width: 10px;
    height: 11px;
  }
  .card_main_area .cards_area .cards_box .product_card .card_img_area {
    width: 144px;
    height: 188px;
  }
  .card_main_area .cards_area .cards_box .product_card .card_info {
    margin-top: 13px;
    width: 143px;
  }
  .card_main_area .cards_area .cards_box .product_card .card_info .card_title {
    color: #222;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
  }
  .card_main_area .cards_area .cards_box .product_card .card_info .card_info_block {
    gap: 4px;
  }
  .card_main_area .cards_area .cards_box .product_card .card_info .card_info_block .card_info_price .price-heading {
    color: #575757;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .card_main_area .cards_area .cards_box .product_card .card_info .card_info_block .card_info_price .price_quantity input {
    width: 24px;
    height: 15px;
  }
  .card_main_area .cards_area .cards_box .product_card .card_info .card_info_block .card_info_price .price-heading-value-cost {
    color: #EF5B70;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .card_main_area .cards_area .cards_box .product_card .card_info .card_info_block .card_info_price .price-heading-value {
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .card_main_area .function_buttons {
    gap: 9px;
  }
  .card_main_area .function_buttons .product_card_function_button {
    width: 175px;
    height: 33px;
    padding: 0;
    color: #575757;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .card_main_area .info_area {
    flex-direction: column;
    gap: 48px;
  }
  .card_main_area .info_area .total_info {
    width: 100%;
  }
  .registration_area {
    margin-left: 9px;
    margin-right: 9px;
    flex-direction: column;
  }
  .registration_input-box {
    width: 100%;
    max-width: 360px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

summary {
  list-style: none;
}

.mb-11 {
  margin-bottom: 11px;
}

.mb-20 {
  margin-bottom: 20px;
}

.header {
  background: #222222;
}
.header_navbar {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header_navbar .logo {
  margin-top: 18px;
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
  gap: 41px;
}
.header_navbar .menu {
  display: flex;
  justify-content: space-between;
  gap: 33px;
  margin-top: 26px;
  margin-bottom: 20px;
}
.header_navbar .menu .burger_menu {
  position: relative;
  list-style-type: none;
}
.header_navbar .menu .burger_menu:hover {
  cursor: pointer;
}
.header_navbar .menu .drop_menu {
  position: absolute;
  background-color: #FFF;
  width: 232px;
  top: 80px;
  z-index: 10;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header_navbar .menu .drop_menu_heading {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  padding-left: 33px;
  margin-bottom: 24px;
}
.header_navbar .menu .burger_menu_list {
  padding-left: 33px;
}
.header_navbar .menu .burger_menu_items {
  padding-left: 22px;
}
.header_navbar .menu .menu_items-link {
  color: #6F6E6E;
  font-size: 14px;
  display: block;
}
.header_navbar .menu .item_link:hover {
  background-color: rgb(250, 70, 70);
}
.header_navbar .menu .menu_items-link:hover {
  background-color: rgba(244, 244, 244, 0.6980392157);
}
.header_navbar .menu .burger_menu_list-heading {
  margin-bottom: 12px;
}
.header_navbar .menu .list-heading-link {
  color: #F16D7F;
  font-size: 14px;
}

.represent {
  background: #F1E4E6;
  margin-bottom: 65px;
}
.represent_content {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 63px;
  position: relative;
}
.represent_content .title_img-box {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.represent_content .title_image-picture {
  max-width: 100%;
  margin-top: 15px;
}
.represent_content .site-title {
  max-width: 100%;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}
.represent_content .title_heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}
.represent_content .title_text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}
.represent_content .title_text_pink {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #F16D7F;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 95px;
}
.main_categories {
  display: flex;
  flex-direction: column;
  margin-bottom: 96px;
}
.main_categories .top-categories {
  display: flex;
  gap: 32px;
  margin-bottom: 30px;
}
.main_categories .category_item_container {
  max-width: 32%;
  position: relative;
  text-align: center;
  background: black;
}
.main_categories .category_item_container-long {
  max-width: 1140px;
  position: relative;
  text-align: center;
  background: black;
}
.main_categories .category_item-img {
  max-width: 100%;
  opacity: 30%;
}
.main_categories .acc_small {
  display: none;
}
.main_categories .category_item-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.main_categories .category_item-text {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.main_categories .category_item-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #F16D7F;
}
.main_content-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 49px;
}
.main_content-items .content_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_content-items .content_title {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}
.main_content-items .content_text {
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.main_all_product_button {
  text-align: center;
  padding: 14.5px 38.5px 13.5px;
  border: 1px solid #F16D7F;
}
.main_all_product_button .all_product_button-link {
  color: #F16D7F;
}

.main_all_product_button:hover {
  background-color: #F16D7F;
  cursor: pointer;
}
.main_all_product_button:hover .all_product_button-link {
  color: white;
}

.features {
  background: #222224;
  padding-top: 103px;
  padding-bottom: 104px;
}
.features_content {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}
.features_content .features_content_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features_content .features_content_item_img {
  margin-bottom: 20px;
}
.features_content .features_content_item_title {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}
.features_content .features_content_item_text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.subscribe_block {
  background-image: url(./img/subscribe_background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(244, 244, 244, 0.6980392157);
  background-blend-mode: screen;
  padding-top: 97px;
  padding-bottom: 126px;
}
.subscribe_block .subscribe_content {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.subscribe_block .subscribe_media {
  max-width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe_block .subscribe_media_img {
  margin-bottom: 33px;
}
.subscribe_block .subscribe_media_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.subscribe_block .subscribe_button {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 223px;
}
.subscribe_block .subscribe_button_text {
  margin-bottom: 32px;
}
.subscribe_block .subscribe_button_text_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.subscribe_block .subscribe_button_text_content {
  font-weight: 400;
  font-size: 18px;
  line-height: 30.1px;
  text-align: center;
  color: #222224;
}
.subscribe_block .subscribe_form {
  display: flex;
}
.subscribe_block .subscribe_form_input {
  background: #E1E1E1;
  width: 256px;
  height: 49px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border: none;
  padding-left: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
}
.subscribe_block .subscribe_form_button {
  background: #F16D7F;
  width: 100px;
  height: 49px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer {
  background-color: #222224;
  padding-top: 24px;
  padding-bottom: 23px;
}
.footer_content {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_content .footer_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer_content .footer_icons {
  display: flex;
  gap: 7.3px;
}
.footer_content .footer_icons .social_icon {
  background-color: white;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_content .footer_icons .social_icon:hover {
  background-color: #F16D7F;
}
.footer_content .footer_icons .facebook_icon {
  padding: 8px 11.83px 9.28px 11.55px;
}
.footer_content .footer_icons .instagram_icon {
  padding: 9.06px 8.6px 8.06px 7.94px;
}
.footer_content .footer_icons .pinterest_icon {
  padding: 8.2px 9.6px 8.2px 9.93px;
}
.footer_content .footer_icons .twitter_icon {
  padding: 9.5px 7.61px 9.5px 7.95px;
}

.product_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
}

.product_box {
  max-width: 360px;
  background-color: #F8F8F8;
}

.product_box_product-visual {
  margin-bottom: 25px;
}

.product_box_product-visual_image {
  width: 100%;
}

.product_box_product-title {
  margin-bottom: 13px;
  margin-left: 18px;
}

.product_box_product-title_link {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product_box_product-description {
  max-width: 87%;
  margin-bottom: 18px;
  margin-left: 18px;
  color: #5D5D5D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.product_box_product-cost {
  margin-bottom: 20px;
  margin-left: 18px;
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */