* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.mb-11 {
  margin-bottom: 11px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pink_color {
  color: #F16D7F;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222222;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 18px;
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
  gap: 41px;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 33px;
  margin-top: 26px;
  margin-bottom: 20px;
}

.burger_menu {
  position: relative;
  list-style-type: none;
}

.burger_menu:hover {
  cursor: pointer;
}

.drop_menu {
  position: absolute;
  background-color: #FFF;
  width: 232px;
  top: 80px;
  z-index: 10;
  padding-top: 32px;
  padding-bottom: 32px;
}

.drop_menu_heading {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  padding-left: 33px;
  margin-bottom: 24px;
}

.burger_menu_list {
  padding-left: 33px;
}

.burger_menu_items {
  padding-left: 22px;
}

.menu_items-link {
  color: #6F6E6E;
  font-size: 14px;
  display: block;
}

.item_link:hover {
  background-color: rgb(250, 70, 70);
}

.menu_items-link:hover {
  background-color: rgba(244, 244, 244, 0.6980392157);
}

.burger_menu_list-heading {
  margin-bottom: 12px;
}

.list-heading-link {
  color: #F16D7F;
  font-size: 14px;
}

.represent {
  background: #F1E4E6;
  margin-bottom: 65px;
}

.represent_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 63px;
  position: relative;
}

.title_img-box {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title_image-picture {
  max-width: 100%;
  margin-top: 15px;
}

.title {
  max-width: 100%;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.title_heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.title_text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.title_text_pink {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #F16D7F;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories {
  display: flex;
  flex-direction: column;
  margin-bottom: 96px;
}

.top_categories {
  display: flex;
  gap: 3%;
  margin-bottom: 30px;
}

.category_item_container {
  max-width: 32%;
  position: relative;
  text-align: center;
  background: black;
}

.category_item_container-long {
  max-width: 1140px;
  position: relative;
  text-align: center;
  background: black;
}

.category_item-img {
  max-width: 100%;
  opacity: 30%;
}

.acc_small {
  display: none;
}

.category_item-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.category_item-text {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.category_item-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #F16D7F;
}

.content_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 49px;
}

.content_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_title {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.content_text {
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.product_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.item_box {
  background: #F8F8F8;
  max-width: 360px;
}

.item_box-main-content {
  max-width: 360px;
  max-height: 420px;
  margin-bottom: 25.35px;
  position: relative;
  background-color: #000;
}

.women_img_2 {
  max-height: 100%;
  background: #F7E4E2;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.item_photo {
  max-width: 100%;
}

.item_photo_2 {
  margin-top: 9px;
  margin-bottom: 11px;
}

.item_title {
  margin-bottom: 16px;
  margin-left: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

.product_link {
  color: #000;
}

.item_text {
  margin-bottom: 16px;
  margin-left: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.cost {
  margin-left: 16px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.add_to_cart_button {
  display: none;
}

.item_box-main-content:hover .item_photo {
  opacity: 30%;
  transition: 0.35s;
}
.item_box-main-content:hover .item_box-main-content {
  text-align: center;
}
.item_box-main-content:hover .add_to_cart_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding-left: 13.06px;
  padding-top: 10.79px;
  padding-right: 15.91px;
  padding-bottom: 8.23px;
}
.item_box-main-content:hover .add_to_cart-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  margin-left: 11.04px;
  color: white;
}

.all_product_button {
  margin-bottom: 60px;
  text-align: center;
}

.all_product_button-link {
  border: 1px solid #F16D7F;
  padding: 14.5px 38.5px 13.5px;
  color: #F16D7F;
}

.all_product_button-link:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.features {
  background: #222224;
  padding-top: 103px;
  padding-bottom: 104px;
}

.feature_content {
  display: flex;
  gap: 30px;
}

.feature_content_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature_content_item_img {
  margin-bottom: 20px;
}

.feature_content_item_title {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.feature_content_item_text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.subscribe_block {
  background-image: url(./img/subscribe_background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(244, 244, 244, 0.6980392157);
  background-blend-mode: screen;
  padding-top: 97px;
  padding-bottom: 126px;
}

.subscribe_content {
  display: flex;
  align-items: center;
}

.subscribe_media {
  max-width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe_media_img {
  margin-bottom: 33px;
}

.subscribe_media_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.subscribe_button {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 223px;
}

.subscribe_button_text {
  margin-bottom: 32px;
}

.subscribe_button_text_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe_button_text_content {
  font-weight: 400;
  font-size: 18px;
  line-height: 30.1px;
  text-align: center;
  color: #222224;
}

.form {
  display: flex;
}

.form_input {
  background: #E1E1E1;
  width: 256px;
  height: 49px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border: none;
  padding-left: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
}

.form_button {
  background: #F16D7F;
  width: 100px;
  height: 49px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer {
  background-color: #222224;
  padding-top: 24px;
  padding-bottom: 23px;
}

.footer_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer_icons {
  display: flex;
  gap: 7.29px;
}

.social_icon {
  background-color: white;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icon:hover {
  background-color: #F16D7F;
}

.facebook_icon {
  padding: 8px 11.83px 9.28px 11.55px;
}

.instagram_icon {
  padding: 9.06px 8.6px 8.06px 7.94px;
}

.pinterest_icon {
  padding: 8.2px 9.6px 8.2px 9.93px;
}

.twitter_icon {
  padding: 9.5px 7.61px 9.5px 7.95px;
}

@media (max-width: 1024px) {
  .navbar {
    padding-left: 32px;
    padding-right: 32px;
  }
  .main {
    margin-left: 16px;
    margin-right: 16px;
  }
  .represent_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 63px;
  }
  .title_img-box {
    width: 50%;
    max-height: 368px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title_image-picture {
    max-height: 353px;
    margin-top: 15px;
  }
  .title {
    max-width: 100%;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-right: 34px;
  }
  .title_heading {
    font-size: 44px;
    line-height: 53px;
  }
  .title_text {
    font-size: 24px;
    line-height: 29px;
  }
  .categories {
    max-width: 736px;
  }
  .product_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
  .feature_content {
    flex-direction: column;
    gap: 48px;
    align-items: center;
    margin-left: 204px;
    margin-right: 204px;
  }
  .subscribe_content {
    flex-direction: column;
    gap: 48px;
  }
  .subscribe_button {
    margin-left: 0;
  }
  .footer_content {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media (max-width: 767px) {
  .navbar {
    padding-left: 16px;
    padding-right: 16px;
  }
  .login_link, .user_cart {
    display: none;
  }
  .burger_menu {
    order: 3;
  }
  .drop_menu {
    right: 1px;
  }
  .represent_content {
    flex-direction: column;
    padding-top: 148px;
    padding-bottom: 149px;
  }
  .title_img-box {
    display: none;
  }
  .title_heading {
    font-size: 38px;
    font-weight: 900;
    line-height: 45.6px;
  }
  .title_text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .categories {
    margin-bottom: 64px;
  }
  .top_categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 30px;
  }
  .category_item_container {
    max-width: 100%;
  }
  .main {
    margin-left: 16px;
    margin-right: 16px;
  }
  .category_item_container {
    max-width: 320px;
  }
  .category_item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .category_item-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
  }
  .acc_big {
    display: none;
  }
  .acc_small {
    display: flex;
    max-width: 100%;
    opacity: 30%;
  }
  .product_block {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature_content {
    flex-direction: column;
    gap: 46px;
    align-items: center;
    margin-left: 13px;
    margin-right: 13px;
  }
  .feature_content_item {
    max-width: 347px;
  }
  .form_input {
    width: 246px;
  }
  .form_button {
    width: 95px;
  }
  .footer_content {
    flex-direction: column;
  }
  .footer_icons {
    order: -1;
    margin-top: 43px;
    margin-bottom: 40px;
  }
}
@media (max-width: 320px) {
  body {
    max-width: 320px;
  }
  .navbar {
    padding-left: 16px;
    padding-right: 16px;
  }
  .login_link, .user_cart {
    display: none;
  }
  .menu_list {
    order: 3;
  }
  .represent_content {
    flex-direction: column;
    padding-top: 148px;
    padding-bottom: 149px;
  }
  .title_img-box {
    display: none;
  }
  .title_heading {
    font-size: 38px;
    font-weight: 900;
    line-height: 45.6px;
  }
  .title_text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .categories {
    margin-bottom: 64px;
  }
}/*# sourceMappingURL=style.css.map */